<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- 관리자페이지 aside 메뉴 : 2단메뉴 -->
	<aside class="navbar-aside" id="offcanvas_aside" th:fragment="asideFragment">
		<div class="aside-top">
		    <a th:href="@{/admin/}" class="brand-wrap">
		        <img th:src="@{/manage/assets/imgs/theme/logo.svg}" class="logo" alt="Nest Dashboard" />
		    </a>
		</div>
		<nav>
		    <ul class="menu-aside">
		        <li class="menu-item">
		            <div class="menu-link">
		                <i class="icon material-icons md-home"></i>
		                <span class="text">OOO님</span>
		            </div>
		        </li>
		         <li class="menu-item has-submenu">
		            <a class="menu-link" href="#">
		                <i class="icon material-icons md-person"></i>
		                <span class="text">회원관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">회원목록</a>
		                <a th:href="@{#}">로그인 내역조회</a>
		                <a th:href="@{#}">배송지 목록</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu">
		            <a class="menu-link" href="page-products-list.html">
		                <i class="icon material-icons md-shopping_bag"></i>
		                <span class="text">상품정보관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">상품정보목록</a>
		                <a th:href="@{#}">상품정보등록</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu">
		            <a class="menu-link" href="page-products-list.html">
		                <i class="icon material-icons md-shopping_bag"></i>
		                <span class="text">상품관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">상품목록</a>
		                <a th:href="@{#}">상품등록</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu">
		            <a class="menu-link" href="page-orders-1.html">
		                <i class="icon material-icons md-shopping_cart"></i>
		                <span class="text">입점업체 관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">입점업체 계약</a>
		                <a th:href="@{#}">입점업체 목록</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu">
		            <a class="menu-link" href="page-orders-1.html">
		                <i class="icon material-icons md-shopping_cart"></i>
		                <span class="text">렌탈계약 관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">렌탈계약 목록</a>
		                <a th:href="@{#}">위약금 조회</a>
		                <a th:href="@{#}">납입상태 조회</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu">
		            <a class="menu-link" href="page-orders-1.html">
		                <i class="icon material-icons md-shopping_cart"></i>
		                <span class="text">결제내역 관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">결제내역 목록</a>
		                <a th:href="@{#}">배송정보 목록</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu th:if">
		            <a class="menu-link" th:href="@{#}">
		                <i class="icon material-icons md-store"></i>
		                <span class="text">양도양수</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">양도게시글 목록</a>
		                <a th:href="@{#}">양수게시글 목록</a>
		            </div>
		        </li>
		        <li class="menu-item has-submenu th:if">
		            <a class="menu-link" th:href="@{#}">
		                <i class="icon material-icons md-store"></i>
		                <span class="text">정산관리</span>
		            </a>
		            <div class="submenu">
		                <a th:href="@{#}">전씨가 채우기</a>		               
		            </div>
		        </li>
		        
		    </ul>
		    <hr />
		    <ul class="menu-aside">
		        <li class="menu-item">
		            <div class="menu-link">
		                <i class="icon material-icons md-settings"></i>
		                <span class="text">정보 수정</span>
		            </div>
		        </li>
		        <li class="menu-item">
		            <a class="menu-link" href="#">
		                <i class="icon material-icons md-local_offer"></i>
		                <span class="text">로그아웃</span>
		            </a>
		        </li>
		    </ul>
		    <br />
		    <br />
		</nav>
	</aside>
</html>